html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #e2e2e2;
  box-sizing: border-box;
  background: url('../img/bg-Sand-lg.jpg') no-repeat;
}

#logo{
  width: 833px;
  height: 585px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.tyButton{
  width: 273px;
  height: 96px;
  font-size: 3em;
  color: white;
  border: 3px solid white;
  text-align: center;
  line-height: 89px;
  cursor: pointer;
}
.tyButton span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#aboutBut{
  position: absolute;
  top: 30px;
  left: 30px;
}
#resumeBut{
  position: absolute;
  top: 30px;
  right: 30px;
}
#contactBut{
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#fourthBut{
  position: absolute;
  bottom: 30px;
  right: 30px;
}