/* Colours
 * Light Green: 8CC63F
 * Dark Green: 129447
 */

html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #e2e2e2;
  box-sizing: border-box;
  background: url('../img/bg-Sand-lg.jpg') no-repeat;
}


/*
.tyButton:hover{
  border: 3px solid #8CC63F;
}
*/
.tyButton:hover span{
  color: #129447;
}
.tyButton span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


/*Overlay*/
#backOverlay{
  position: absolute;
  margin: 0;
  top:0;
  left:0;
  display:none;
  width:100%;
  height:100%;
  background-color: #373737;
  background: rgba(0,0,0,0.9);
}
#textOverlay{
  position:relative;
  top:-20px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  background: rgba(255,255,255,0.7);
  z-index: 101;
}
#closeButtonDiv{
  float: left;
  cursor: pointer;
}
#closeButton{
  margin: 5px;
}

.overlayContent{
  display:none;
}

@media (min-width: 410px) and (max-width: 767px){
  /*Mobile view*/
 #logo{
    background: url('../img/logo-exsm.png') no-repeat;
    width: 250px;
    height: 176px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;  
  }
  .tyButton{
    position: relative;
    top:20px;
    margin-left: 10px;
    float: left;
    width: 80px;
    height: 30px;
    font-size: 1em;
    color: white;
    border: 3px solid white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  #buttonWrapper{
    position:relative;
    width:384px;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
  }
  #textOverlay{
    top: 50px;
    width: 100%;
    padding-bottom: -50px;
  }
    /*Buttons*/
  #aboutBut{
  }
  #resumeBut{
  }
  #contactBut{
  }
  #fourthBut{
  }
  @-webkit-keyframes moveSmButton{
    from{
      top:20px;
    }
    to{
      top:-260px;
    }
  }
  @keyframes moveSmButton{
    from{
      top:20px;
    }
    to{
      top:-260px;
    }
  }
  @-webkit-keyframes moveSmButtonBack{
    from{
      top:-260px;
    }
    to{
      top:20px;
    }
  }
  @keyframes moveSmButtonBack{
    from{
      top:-260px;
    }
    to{
      top:20px;
    }
  }
  
}

@media (min-width: 768px) and (max-width: 991px){
  /*iPad portait*/
  #logo{
    background: url('../img/logo-sm.png') no-repeat;
    width: 500px;
    height: 351px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  /*Buttons*/
  #aboutBut{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  #resumeBut{
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #contactBut{
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  #fourthBut{
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .tyButton{
    width: 160px;
    height: 56px;
    font-size: 1.8em;
    color: white;
    border: 3px solid white;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
  } 
  #textOverlay{
    width: 760px;
  }
  
  @keyframes moveMdTopButton{
    from{
      top:30px;
      right: 30px;
      width: 160px;
      height: 56px;
      font-size: 1.8em;
      line-height: 53px;
      }
    to{
      top: 5px;
      right: 5px;
      width: 60px;
      height: 23px;
      font-size: 0.8em;
      line-height: 21px;
    }
  }
  @keyframes moveMdTopButtonBack{
    from{
      top: 5px;
      right: 5px;
      width: 60px;
      height: 23px;
      font-size: 0.8em;
      line-height: 21px;
      }
    to{
      top:30px;
      right: 30px;
      width: 160px;
      height: 56px;
      font-size: 1.8em;
      line-height: 53px;
    }
  }
  @keyframes moveMdBottomButton{
    from{
      bottom:30px;
      right: 30px;
      width: 160px;
      height: 56px;
      font-size: 1.8em;
      line-height: 53px;
      }
    to{
      bottom: 5px;
      right: 5px;
      width: 60px;
      height: 23px;
      font-size: 0.8em;
      line-height: 21px;
    }
  }
  @keyframes moveMdBottomButtonBack{
    from{
      bottom: 5px;
      right: 5px;
      width: 60px;
      height: 23px;
      font-size: 0.8em;
      line-height: 21px;
      }
    to{
      bottom:30px;
      right: 30px;
      width: 160px;
      height: 56px;
      font-size: 1.8em;
      line-height: 53px;s
    }
  }
}/*END min-width : 768px media */


@media (min-width: 992px) and (max-width: 1199px){
  #logo{
    background: url('../img/logo-md.png') no-repeat;
    width: 625px;
    height: 439px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  /*Buttons*/
  #aboutBut{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  #resumeBut{
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #contactBut{
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  #fourthBut{
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .tyButton{
    width: 200px;
    height: 70px;
    font-size: 2.3em;
    color: white;
    border: 3px solid white;
    text-align: center;
    line-height: 67px;
    cursor: pointer;
  } 
  #textOverlay{
    width: 760px;
  }
  @keyframes moveLgTopButton{
    from{
      top:30px;
      width: 200px;
      height: 70px;
      font-size: 2.3em;
      line-height: 67px;
      }
    to{
      top: 5px;
      width: 120px;
      height: 50px;
      font-size:1.6em;
      line-height: 47px;
    }
  }
  @keyframes moveLgTopButtonBack{
    from{
      top: 5px;
      width: 120px;
      height: 50px;
      font-size:1.6em;
      line-height: 47px;
      }
    to{
      top:30px;
      width: 200px;
      height: 70px;
      font-size: 2.3em;
      line-height: 67px;
    }
  }
  @keyframes moveLgBottomButton{
    from{
      bottom:30px;
      width: 200px;
      height: 70px;
      font-size: 2.3em;
      line-height: 67px;
      }
    to{
      bottom: 5px;
      width: 120px;
      height: 50px;
      font-size:1.6em;
      line-height: 47px;
    }
  }
  @keyframes moveLgBottomButtonBack{
    from{
      bottom: 5px;
      width: 120px;
      height: 50px;
      font-size:1.6em;
      line-height: 47px;
      }
    to{
      bottom:30px;
      width: 200px;
      height: 70px;
      font-size: 2.3em;
      line-height: 67px;
    }
  }
  
}/*END min-width : 992px media */

@media (min-width : 1200px){
  #logo{
    background: url('../img/logo-lg.png') no-repeat;
    width: 833px;
    height: 585px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  /*Buttons*/
  #aboutBut{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  #resumeBut{
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #contactBut{
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  #fourthBut{
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .tyButton{
    width: 273px;
    height: 96px;
    font-size: 3em;
    color: white;
    border: 3px solid white;
    text-align: center;
    line-height: 89px;
    cursor: pointer;
  }
  #textOverlay{
    width: 1000px;
  }
  @keyframes moveExLgTopButton{
    from{
      top:30px;
      width: 273px;
      height: 96px;
      font-size: 3em;
      line-height: 89px;
      }
    to{
      top: 5px;
      width: 180px;
      height: 50px;
      font-size:2em;
      line-height: 45px;
    }
  }
  @keyframes moveExLgTopButtonBack{
    from{
      top: 5px;
      width: 180px;
      height: 50px;
      font-size:2em;
      line-height: 45px;
      }
    to{
      top:30px;
      width: 273px;
      height: 96px;
      font-size: 3em;
      line-height: 89px;
    }
  }
  @keyframes moveExLgBottomButton{
    from{
      bottom:30px;
      width: 273px;
      height: 96px;
      font-size: 3em;
      line-height: 89px;
      }
    to{
      bottom: 5px;
      width: 180px;
      height: 50px;
      font-size:2em;
      line-height: 45px;
    }
  }
  @keyframes moveExLgBottomButtonBack{
    from{
      bottom: 5px;
      width: 180px;
      height: 50px;
      font-size:2em;
      line-height: 45px;
      }
    to{
      bottom:30px;
      width: 273px;
      height: 96px;
      font-size: 3em;
      line-height: 89px;
    }
  }
} /*END min-width : 1200px media */



